@function tint($color, $percentage) {
  @return mix(#fff, $color, $percentage);
}

$gray: #f5f7fa;
$green: #68b668;
$red: #e7503c;
$blue: #123456;
$purple: #8300ee;
$brown: #f16b22;

$buttonColors: (
    "green": $green,
    "red": $red,
    "blue": $blue,
    "purple": $purple,
    "brown": $brown
);
