.recommendPng {
  height: 339px;
  border-radius: 10px;
}
.recommendTxt {
  color: #383838;
  font-weight: bolder
}
.recommendArea {
  margin-right: 20px;
}
.displayArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.el-carousel__item h3 {
  color: white;
  font-size: 14px;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
  text-align: center;
}
.el-carousel__item:nth-child(n) {
  //background-color: #99a9bf;
}
.cardHotel {
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.firstCardHotel {
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}
.cardHotelOrder {
  width: 20px;
  height: 50px;
  font-size: 38px;
  color: #ccc;
  font-weight: bolder;
  //background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.cardHotelBasicInfo {
  width: fit-content;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 5px;
}
.cardHotelName {
  width: fit-content;
  height: 20px;
  font-weight: 700;
  //background-color: white;
}
.cardHotelAddress {
  width: fit-content;
  height: 20px;
  //background-color: white;
  margin-top: 10px;
}
.cardHotelStar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardHotelStarNum {
  width: 30px;
  height: 20px;
  color: white;
  font-weight: bolder;
  background-color: red;
  border-radius: 5px 0px 5px 0px;
  margin-top: 10px;
  text-align: center;
  line-height: 20px;
}
.cardHotelStarTxt {
  color: red;
  margin-top: 5px;
  margin-left: 5px;
}
.cardHotelPrice {
  width: fit-content;
  height: 20px;
  //background-color: white;
  margin-top: 70px;
  position: absolute;
  right: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardHotelPriceNum {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5px;
}
.cardHotelImg {
  width: 120px;
  height: 70px;
  position: absolute;
  right: 20px;
  //background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.hotelListFirst {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -70px;
}
.hotelItemFirst {
  height: 350px;
  width: 199px;
  border-radius: 10px;
  margin-left: 20px;
}
.hotelItemFirstHead {
  height: 350px;
  width: 199px;
  border-radius: 10px;
  margin-left: 0px;
}
.hotelListSecond {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hotelItemSecond {
  margin-top: 20px;
  height: 350px;
  width: 199px;
  border-radius: 10px;
  margin-left: 20px;
}
.hotelItemSecondHead {
  height: 350px;
  width: 199px;
  border-radius: 10px;
  margin-left: 0px;
}
.brandList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.brandItem {
  height: 80px;
  width: 99px;
  background-color: #f6f6f6;
  margin-left: 10px;
  margin-bottom: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandItemHead {
  height: 80px;
  width: 99px;
  background-color: #f6f6f6;
  margin-left: 0px;
  margin-bottom: 100px;
}