.commentCard:nth-last-child(2){
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom: 0;
}
.empty-sector{
  background-color: white;
  border-radius: 8px;
  width: 1160px;
}